html{
  box-sizing: border-box;
  margin: 0;
}

/* ul, ol */

ul,
ol{
  list-style: none;
}

/* a */

a{
  text-decoration: none;
}

/* container */

.container{
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
}

.site_content{
  display: flex;
  justify-content: space-between;
}

.site_item{
  display: flex;
  gap: 50px;
}

.site_link:nth-child(1){
  color: #4a99d3;
  font-size: 18px;
  font-weight: 500;
}

.site_link{
  color: #0f001a;
  font-size: 18px;
  font-weight: 500;
}